fieldset {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(25%, 8ch, 100%), 1fr));
    gap: 0.5em 1em;
    
    label input { width: 100%; }
}

.game-capsule {
    height: 12em;
    max-height: 30vw;

    margin: 0 5vw 1em;

    @media (width <= 480px) {
        width: 80%;
        height: auto;
        max-height: none;

        float: none;
        display: block;
        margin: auto;
    }
}

.play-link {
    display: block;
    font-size: 2em;
    text-align: center;
}