body {
  --bg-colour: #2a2d34;
  --main-colour: #fff;
  --accent-colour: #fae;
  --bg-accent-colour: #1a1d24;

  --main-colour-faded: #ccc;
  --accent-colour-faded: #c9b;

  display: flex;
  padding: 2vw 2.5vw;

  background-color: var(--bg-colour);
  color: var(--main-colour);

  font-family: dm-sans;
  font-size: min(max(2vw, 16px), 22px);
}

@font-face {
  font-family: dm-sans;
  src: url(../assets/DMSans.ttf);
}

main {
  max-width: min(1080px, 95vw);
  margin: auto;
}

h1 {
  text-shadow: 0.1em 0.15em 2px black;
}

ul, ol {
  padding-left: 2em;
}

blockqoute, sub {
  color: var(--main-colour-faded);
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 2px solid;
}

a{
  color: var(--accent-colour);
  text-decoration: underline dashed;
  font-weight: bold;
}
a:visited{
  color: var(--accent-colour-faded);
}
a:hover{
  color: var(--main-colour);
}

img{
  height: fit-content;
  margin: auto;
}