fieldset {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(25%, 8ch, 100%), 1fr));
    gap: 0.5em 1em;

    border: var(--main-colour) solid;

    legend { white-space: nowrap; }
    label input { width: 100%; }
}

@media (scripting: none) {
    .script-only { display: none }
}

.game-capsule {
    height: 12em;
    max-height: 30vw;

    margin: 0 5vw 1em;

    @media (width <= 480px) {
        width: 80%;
        height: auto;
        max-height: none;

        float: none;
        display: block;
        margin: auto;
    }
}

.play-link {
    display: grid;
    font-size: 2em;
    text-align: center;
}

.ancestor-list {
    list-style: none;
    padding-left: 1em;
}