figure.side-by-side {
  display: grid;
  margin: 0;
  padding: 0.5em;

  grid-template-columns: auto auto;
  gap: 0.5em 1em;

  border: var(--main-colour-faded) 2px solid;

  img {
    width: 100%;
  }
  figcaption {
    grid-column: -1 / 1;
    text-align: center;
  }
}