.dropdown-root{
  position: relative;
  margin: 0;
  padding: 0;
}

.dropdown-button{
  display: flex;
  background-color: var(--bg-accent-colour);
  color: var(--main-colour);
  padding: 0.25em 1em;
  font-size: 1em;
  border-radius: 1em;
  border: thick solid var(--main-colour);
}
.dropdown-button:hover{
  color: var(--accent-colour);
  border: thick solid var(--accent-colour);
}

.dropdown-body{
  position: absolute;
  background-color: var(--bg-accent-colour);
  padding: 0.5em;
  width: max-content;
  top: 100%;
  left: 0;
  z-index: 1;
}

.dropdown-category{
  width: max-content;
  margin: 0 auto auto;
  padding: 0;
}

.dropdown-category-header{
  margin: 0 auto 0.25em;
}

.dropdown-item {
  display: flex;
  padding-right: auto;
  background-color: transparent;
  color: var(--main-colour-faded);
  border: none;
  font-size: 1em;
}
.dropdown-item:hover{
  background-color: var(--main-colour-faded);
  color: var(--bg-colour);
}

.dropdown-icon-container{
  padding: 0;
  margin: auto 0.5em auto 0;
}

.dropdown-sieve-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12ch, 1fr));
  grid-gap: 0.25em;
}