.revealable-section-label{
  display: flex;
  flex-direction: row;
  margin: 0.5em auto 0.5em 0;
}
.revealable-section-label:hover{
  color: var(--accent-colour)
}

.revealable-section-button{
  display: flex;
  margin: auto;
  background-color: transparent;
  border: none;
  color: var(--main-colour);
  font-size: 1em;
}
.revealable-section-button:hover{
  color: var(--accent-colour);
}

.revealable-section-content{
  background-color: var(--bg-accent-colour);
  padding: 1em;
  margin: 0;
  border-radius: 0.5em;
}

.games-link-body{
  margin: 0.25em auto 1em;
  font-size: 2em;
}

.profile-picture{
  max-width: 20vw;
  height: auto;
  border-radius: 35%;
}