h2.featured{
    margin-top: 2em;
}

a.featured{
    margin: 0 auto;
}

.professional-summary{
    margin: 1em auto 0;
    max-width: 35em;
    text-align: center;
    padding: 0;
}

.games-link{
  margin: 1em auto;
  font-size: 2em;
  text-align: center;
}

.profile-picture{
  max-width: 20vw;
  height: auto;
  border-radius: 35%;
}