body{
  --bg-colour: #2a2d34;
  --main-colour: #fff;
  --accent-colour: #fae;
  --bg-accent-colour: #1a1d24;

  --main-colour-faded: #ccc;
  --accent-colour-faded: #c9b;

  display: flex;
  margin: 2vw 2.5vw 0;

  background-color: var(--bg-colour);
  color: var(--main-colour);

  font-family: dm-sans;
  font-size: min(2.5vw, 18px);
}

@font-face {
  font-family: dm-sans;
  src: url(../assets/DMSans.ttf);
}

div{
  display: flex;
  flex-direction: column;
  max-width: 95vw;
  height: fit-content;
  margin: auto;
  padding: 0.5em 0;

  justify-content: space-around;
}

h1{
  margin: 0em auto;
  text-shadow: 0.1em 0.15em 2px black;
}

h2{
  margin: 1em 2em 0em;
}
h3{
  margin: 1em 2em 0;
}

p{
  margin: auto;
  padding: 0 2em;
  max-width: 70vw;
}

a{
  padding: 0 1em;
  text-decoration: underline dashed;
  font-weight: bold;
  color: var(--accent-colour);
}
a:visited{
  color: var(--accent-colour-faded);
}

img{
  margin: auto;
  height: fit-content;
}

ul{
  margin: 0;
}


.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}

.subscript{
  margin: 0 auto 1em;
  color: var(--main-colour-faded);
}

.flat {
  margin: 0;
  padding: 0;
}