.game {
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    margin: 5%;
    padding: 2%;
    border-radius: 2vw;
}

.game-cover {
    display: block;
    min-height: 0;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 30%;
    width: auto;
    height: auto;
    border-radius: 1vw;
}

.game-info {
    display: grid;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.game-title {
    font-size: xxx-large;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: none;
}

.game-date {
    margin-top: 0;
    font-style: italic;
    font-size: medium;
}

.game-desc {
    font-size: xx-large;
    margin-right: 2vw;
    margin-left: 2vw;
}

.align-right {
    margin-right: 2vw;
    margin-left: auto;
}