.home {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 80vh;
}

.home-image {
    height: 90%;
    width: auto;
}

.home-content {
    flex-direction: column;
    flex:1;
}

.home-title-box {
    background-color: red;
}

.home-title {
    margin-right: 5vw;
    margin-left:auto;
    font-size: 6vw;
    text-align: right;
}

.home-desc {
    margin-right: 5vw;
    margin-left: auto;
    font-size: 2vw;
    text-align: justify;
}

.home-link-box {
    display: flex;
    flex:1;
}

.home-link {
    flex:1;
    width: fit-content;
    padding: 1%;

    white-space: nowrap;
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
    
    background-color: #1d345e;

    /* border-color: #4275d4;
    border-radius: 1vw;
    border-width: 0.5vw;
    border-style:ridge; */
}

.home-link:hover {
    color:#3a66b8
}