.proficiency-set {
    display: flex;
    flex:1;
}

.proficiency-header {
    display: flex;
    flex-direction: row;
    flex:1;
    margin-left: 5vw;
}

.proficiency-label {
    font-size: 5vw;
}

.proficiency-icon-box {
    width: 21vw;
}

.proficiency-icon {
    display: flex;
    flex:1;
    height: 7vw;
    width: auto;
    /* width: 7vw;
    height: auto; */
    margin-right: 0;
    margin-left: auto;
}

.proficiency-list {
    flex:0.5;
    background-color: #1d345e;
    padding: 2vw;
    border: 1vw;
    border-style:solid;
    margin-right: 10vw;
}

.proficiency {
    flex:1;
    margin: 0 2vw;
    font-size: 2vw;
}