<!DOCTYPE html>
<html lang="en">
    <head>
        {%- include head.html -%}
    </head>

    <body>
        <main class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>
        <script type="text/javascript" defer>
            document.querySelectorAll('input[type="checkbox"]')
            .forEach(
                checkbox => {
                    checkbox.removeAttribute('disabled')
                    
                    let cookieLabel = checkbox.parentElement.textContent
                    cookieStore.get(cookieLabel).then(
                        cookie => checkbox.checked = cookie
                    )
                    checkbox.onchange = event => {
                        let value = event.target.checked
                        cookieStore.set(cookieLabel, value)
                    }
                }
            )

            document.querySelectorAll('input[type="text"]')
            .forEach(
                input => {
                    let cookieLabel = input.parentElement.textContent
                    cookieStore.get(cookieLabel).then(
                        cookie => {
                            if (cookie) input.defaultValue = cookie.value
                        }
                    )
                    input.onchange = event => {
                        let value = event.target.value
                        cookieStore.set(cookieLabel, String(value))
                    }
                }
            )
        </script>
    </body>
</html>

